#telegram
BOT_TOKEN=your_telegram_bot_token_here
CHAT_ID=your_telegram_chat_id_here
#supabase
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_key_here
#mysql
MYSQL_URL=mysql+pymysql://username:password@localhost/smart_price_tracker
